<div class="Main_info">

    <!-- TABLA DE DATOS -->

    <table  id="tableId" class="cont_table">
        <th *ngFor="let col of columns">{{ col }}</th>
        <tr *ngFor="let fila of rows">
          <td *ngFor="let celda of fila" (click)="ocultarCeldas(celda)">
            <div *ngIf="celda.edit">
              <input type="text" [(ngModel)]="celda.value" />
            </div>
            <div *ngIf="!celda.edit">
              {{ celda.value }}
            </div>
          </td>
        </tr>
    </table>

    <!-- PARAMETROS DE CONFIGURACION -->
    <div class="configuration">

        <h4> AUMENTAR PARAMETROS </h4>
        <div class="buttons">
            <button class="conf" (click)="pushColums()"> Columnas </button>
            <button class="conf" (click)="pushRow()"> Filas </button>
        </div>

        <h4> VARIABLES </h4>
        <div class="buttons">
            <input type="text" class="input" [(ngModel)]="p" />
            <input type="text" class="input" [(ngModel)]="q" />
        </div>


    </div>
</div>


<button class="button" (click)="CalcularParametros()"> RESULTADO </button>

<H3> HISTORIAL DE RESULTADOS </H3>
<div class="result" *ngIf="resultados">

    <div *ngFor="let name of names" class="info_result">
        <p> MAXI - MIN  </p>
        <p>  {{ name.nombre }} </p>
    </div> 

</div>